html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/Banners/logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: #333;
}
h1 {
    color: #f7f7f7;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}
.container{
    align-items:start;
    justify-content: center;
    display: flex;
}

form {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    margin: 10px;
}

form div {
    margin-bottom: 10px;
}


label {
    color: #FFF;
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    background: #ffffff;
    color: #333;
}

select {
    background: #ffffff;
    color: #333;
}

button {
    background: #FF6500;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background: #E55A00;
}

button[type="button"] {
    background: none;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

button[type="button"]:hover {
    background: #FFF;
    color: #E55A00;
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    display: none;
}


