<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Administrador</title>
    <link rel="stylesheet" th:href="@{/css/opcoes.css}">
    <link rel="stylesheet" th:href="@{/css/styleCard.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    
        <header>
          <div class="divHeader">
            
            <nav>
              <a href="/admin/products"> Listar Produto</a>
              <a href="/admin/users"> Listar Usuário</a>
              <a href="/admin/orders">Listar Pedidos</a>
              <span></span>
            </nav>
          </div>
          </header>

          <div class="swiffy-slider">
            <ul class="slider-container">
                <li><img src="../assets/Banners/A50.png" style="max-width: 100%;height: auto;"></li>
                <li><img src="../assets/Banners/lianli.png" style="max-width: 100%;height: auto;"></li>
                <li><img src="../assets/Banners/Wooting 60HE.png" style="max-width: 100%;height: auto;"></li>
            </ul>
        
            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>
        
            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
                <button></button>
            </div>
        </div>

        <section class="container">
          <div class="card__container swiper">
            
            <div class="card__content">
              <div class="swiper-wrapper">
                <article class="card__article">
                    <img src="../assets/Hardwares/CPUs/AMD_Ryzen7_5700x/FrontAndBoxPic.jpg" alt="image" class="card__img">
                  
                    
                </article>

                <article class="card__article">
                    <img src="../assets/Hardwares/CPUs/AMD_Ryzen7_5700x/FrontAndBoxPic.jpg" alt="image" class="card__img">
                    <div class="card__data">
                      <h3 class="card__name">Kell Dawx</h3>
                      <p class="card__description">
                         Passionate about development and design, 
                         I carry out projects at the request of users.
                      </p>
    
                      <a href="#" class="card__button">View More</a>
                   </div>
                  
                </article>

                <article class="card__article">
                <img src="../assets/Hardwares/CPUs/AMD_Ryzen7_5700x/FrontAndBoxPic.jpg" alt="image" class="card__img">

                
                </article>


              </div>
          </div>
        
        </div>

        </section>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/swiper-bundle.min.js"></script>

</body>
</html>
