<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesCadProd.css">
    <title>Cadastro de Produto</title>
</head>
<body>
    <header>
        <img class="logo" src="" alt="logo">
    </header>

    <div class="login-box">
        <div class="form">
            <h3>Cadastro de Produto</h3>
          <form class="login-form">
            <input type="text" placeholder="Nome produto" maxlength="200">
            <input type="number" placeholder="Preço"step="0.01"/>
            <input type="number" placeholder="Quantidade"/>
            <textarea rows="10" cols="50" maxlength="2000" placeholder="Descrição"></textarea><br><br>
            <input type="file"  accept="image/*">
            <button>Salvar</button>
            
          </form>
        </div>
    </div>
</body>
</html>
