<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/styleLisUsuario.css}">
  <title>Lista de Usuários</title>
</head>
<body>

<h1>Lista de Usuários</h1>

<table id="">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.name}">Nome</td>
    <td th:text="${user.email}">Email</td>
    <td th:text="${user.active ? 'Ativo' : 'Desativado'}">Status</td>
    <td>

      <a th:href="@{/admin/users/edit/{email}(email=${user.email})}">Alterar</a>

    </td>
  </tr>
</table>

<a th:href="@{/admin/users/new}">Cadastrar Novo Usuário</a>

</body>
</html>
