<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/styleLisUsuario.css}">
  <title>Lista de Usuários</title>
</head>
<body>

<h1>Lista de Usuários</h1>

<div id="mainBusca">
  <form th:action="@{/admin/users}" method="get" id="divBusca">
    <input type="text" name="keyword" placeholder="Buscar usuários..." id="txtBusca">
    <button type="submit" id="btnBusca">Buscar</button>
  </form>
  <!-- TODO-->
  <button id="showAddUserFormBtn" onclick="showAddUserForm()">Adicionar Novo Usuário +</button>
</div>

<table id="">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.nome}">Nome</td>
    <td th:text="${user.email}">Email</td>
    <td th:text="${user.active ? 'Ativo' : 'Desativado'}">Status</td>
    <td>
      <a th:href="@{/admin/users/edit/{email}(email=${user.email})}">Alterar</a>
    </td>
  </tr>
</table>

<script>
  function showAddUserForm() {
      var form = document.getElementById("addUserForm");
      form.style.display = form.style.display === "none" ? "block" : "none";
  }
</script>

</body>
</html>
