<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Pedidos</title>
  <link rel="stylesheet" th:href="@{/css/myOrdersPage.css}">
</head>
<body>
<div class="container">
  <h2>Seus Pedidos</h2>
  <div th:if="${orders.isEmpty()}">
    <p>Nenhum pedido encontrado.</p>
  </div>
  <table th:if="${not orders.isEmpty()}">
    <thead>
    <tr>
      <th>Número do Pedido</th>
      <th>Data do Pedido</th>
      <th>Status</th>
      <th>Valor Total</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}">Número do Pedido</td>
      <td th:text="${#temporals.format(order.date, 'dd/MM/yyyy')}">Data do Pedido</td>
      <td th:text="${order.status}">Status</td>
      <td>R$<span th:text="${order.total}">Valor Total</span></td>
      <td><a th:href="@{/client/order-details/{orderId}(orderId=${order.id})}" class="btn btn-primary">Detalhes</a></td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/client/home}" class="btn btn-secondary">Voltar à Home</a>
</div>
</body>
</html>
