<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Pedidos</title>
  <link rel="stylesheet" th:href="@{/css/dash.css}">
</head>
<body>
<div class="container">
  <h2>Seus Pedidos</h2>
  <div th:if="${orders.isEmpty()}">
    <p>Nenhum pedido encontrado.</p>
  </div>
  <div th:each="order : ${orders}">
    <div class="order-info">
      <p>Número do Pedido: <span th:text="${order.id}"></span></p>
      <p>Data do Pedido: <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></p>
      <p>Status: <span th:text="${order.status}"></span></p>
      <p>Valor Total: R$<span th:text="${order.total}"></span></p>
      <a th:href="@{/client/order-details/{orderId}(orderId=${order.id})}" class="btn btn-primary">Detalhes</a>
    </div>
  </div>
</div>
</body>
</html>
