<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}">
    <title>Registro de Usuário</title>
</head>
<body>
<div id="alertBox" th:if="${errorMessage != null || successMessage != null || loginError != null}" class="alert"
     th:classappend="${errorMessage != null ? 'alert-danger' : (successMessage != null ? 'alert-success' : '')}">
    <span th:if="${errorMessage}" th:text="${errorMessage}"></span>
    <span th:if="${successMessage}" th:text="${successMessage}"></span>
    <span th:if="${loginError}" th:text="${loginError}"></span>
</div>

<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/auth/register}" th:object="${registerDTO}" method="post"
              onsubmit="return validateForm()">
            <h2>Cadastrar Usuario</h2>
            <input type="text" placeholder="Nome" id="nome" th:field="*{nome}" required/>
            <input type="text" placeholder="CPF" id="cpf" th:field="*{cpf}" required/>
            <input type="email" placeholder="Email" id="email" th:field="*{email}" required/>
            <input type="password" placeholder="Password" id="password" th:field="*{password}" required/>
            <div class="custom-select">
                <select id="role" th:field="*{role}">
                    <option value="ADMIN">Administrador</option>
                    <option value="STOCKIST">Estoquista</option>
                </select>
            </div>
            <button type="submit" class="btn">Registrar</button>
            <a th:href="@{/admin/users}" class="btn">Voltar para Usuários</a>
        </form>
    </div>
</div>

<script th:src="@{/js/scriptLogin.js}"></script>
<script>
    function validateForm() {
        var cpfInput = document.getElementById('cpf').value;
        if (cpfInput.length !== 11) {
            alert("O CPF deve conter exatamente 11 caracteres.");
            return false;
        }
        if (!/^\d+$/.test(cpfInput)) {
            alert("O CPF deve conter apenas números.");
            return false;
        }
        return true;
    }
    window.onload = function() {
        var alertBox = document.getElementById("alertBox");
        if (alertBox) {
            showAlert();
        }
    };
    function showAlert() {
        var alertBox = document.getElementById("alertBox");
        alertBox.classList.add("show");
        setTimeout(function() {
            alertBox.classList.remove("show");
        }, 5000);
    }
    function closeAlert() {
        var alertBox = document.getElementById("alertBox");
        alertBox.classList.remove("show");
    }
</script>
</body>
</html>
