<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard do Estoquista</title>
    <link rel="stylesheet" th:href="@{/css/stockistDashboard.css}">
</head>
<body>
<header>
    <div class="header-container">
        <img src="../assets/Banners/logo.png" alt="Logo" class="logo">
        <nav>
            <a href="/stockist/products" class="nav-link">Listar Produtos</a>
            <a href="/stockist/orders" class="nav-link">Listar Pedidos</a>
            <form th:action="@{/auth/logout}" method="post" style="display: inline;">
                <button type="submit" class="nav-link logout" style="background: none; border: none; cursor: pointer; color: #fff;">Logout</button>
            </form>
        </nav>
    </div>
</header>
<main class="container">
    <h2>Dashboard do Estoquista</h2>
    <p>Bem-vindo ao seu dashboard. Aqui você pode gerenciar produtos e pedidos.</p>
</main>
</body>
</html>
