<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Opções</title>
    <link rel="stylesheet" href="css/opcoes.css">
</head>
<body>
    
        <header>
          <div>
            
            <nav>
              <a href="./telaOpcoes.html">Início</a>
              <a href="./listProducts.html"> Listar Produto</a>
              <a href="./listUsers.html"> Listar Usuário</a>
              <a href="./listarPedidos.html">Listar Pedidos</a>
              <a href="./register.html">Login</a>
              <span></span>
            </nav>
          </div>
          </header>
          <main>
  
          </main>

    
<script src="js/scriptOpcoes.js"></script>
</body>
</html>
