<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Opções</title>
    <link rel="stylesheet" href="../static/css/opcoes.css">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    
        <header>
          <div class="divHeader">
            
            <nav>
              <a href="./telaOpcoes.html">Início</a>
              <a href="./listProducts.html"> Listar Produto</a>
              <a href="./listUsers.html"> Listar Usuário</a>
              <a href="./listarPedidos.html">Listar Pedidos</a>
              <a href="./register.html">Login</a>
              <span></span>
            </nav>
          </div>
          </header>

          <div class="swiffy-slider">
            <ul class="slider-container">
                <li><img src="../assets/Banners/A50.png" style="max-width: 100%;height: auto;"></li>
                <li><img src="../assets/Banners/lianli.png" style="max-width: 100%;height: auto;"></li>
                <li><img src="../assets/Banners/Wooting 60HE.png" style="max-width: 100%;height: auto;"></li>
            </ul>
        
            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>
        
            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
                <button></button>
            </div>
        </div>

        <main class="main-tela">
          <div class="div-main">
            <h1>salve</h1>
          </div>
          

        </main>

    

</body>
</html>
