<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.productName}">Nome do Produto</title>
    <link rel="stylesheet" th:href="@{/css/stylePrd.css}">
    <link rel="stylesheet" th:href="@{/css/opcoes.css}">
    <link rel="stylesheet" th:href="@{/css/viewCart.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="divHeader">
        <nav>
            <a href="/client/home">Início</a>
            <a href="/client/products">Listar Produtos</a>
            <a href="#">Computadores</a>
            <a href="#">Placas mãe</a>
            <a href="#">Processadores</a>
        </nav>
    </div>
</header>

<main class="container">
    <div class="left-side">
        <div id="productCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div th:each="image, stat : ${images}" class="carousel-item" th:classappend="${stat.first} ? 'active' : ''">
                    <img th:src="@{${image.imagePath}}" class="d-block w-100" alt="Imagem do Produto"/>
                </div>
            </div>
            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="right-side">
        <div class="content">
            <h1 th:text="${product.productName}">Nome do Produto</h1>
            <p th:text="${product.description}">Descrição do Produto</p>
            <span class="price" th:text="${product.price}">Preço do Produto</span>
            <form th:action="@{/client/cart/add}" method="post">
                <input type="hidden" name="productID" th:value="${product.productID}" />
                <div class="options">
                    <div class="amount">
                        <button type="button" onclick="changeQuantity(-1)">-</button>
                        <span id="quantity">1</span>
                        <button type="button" onclick="changeQuantity(1)">+</button>
                        <input type="hidden" id="quantityInput" name="quantity" value="1" />
                    </div>
                    <button type="submit" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
function changeQuantity(change) {
    var quantitySpan = document.getElementById('quantity');
    var quantityInput = document.getElementById('quantityInput');
    var currentQuantity = parseInt(quantitySpan.innerText);
    currentQuantity += change;
    if (currentQuantity < 1) currentQuantity = 1; // Assegura que a quantidade não seja menor que 1
    quantitySpan.innerText = currentQuantity;
    quantityInput.value = currentQuantity;
}
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
