<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.productName}">Nome do Produto</title>
    <link rel="stylesheet" th:href="@{/css/stylePrd.css}">
</head>
<body>
<main class="container">
    <div class="left-side">
        <div class="select-image">
            <img th:src="@{assets/Periféricos/Headsets/HyperX_Cloud3/BackPic.jpg}" alt="Descrição da Imagem"/>

        </div>
        <!--
        <div class="thumbnails">
            <div class="thumbnail" th:each="image : ${product.images}">
                <img th:src="${image}" alt="Thumbnail do Produto" onclick="document.querySelector('.select-image img').src = this.src"/>
            </div>
        </div>
        -->
    </div>
    <div class="right-side">
        <h1 th:text="${product.productName}">Nome do Produto</h1>
        <p th:text="${product.description}">Descrição do Produto</p>
        <span class="price" th:text="${product.price}">Preço do Produto</span>

    </div>
</main>

</body>
</html>
